<!DOCTYPE html>
<html>
  <head>
    <script src="routes/index.js"></script>
    <script src="models/listing.js"></script>
    <script src="controllers/listings.js"></script>
    <script src="controllers/index.js"></script>


    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <form class="" action="/" method="post">
    <input type="text" name="listingname" value="listingname">
    <input type="submit" value="submit">
  </form>

  <div class="listings">

  </div>

  </body>
</html>
